parameters:
    level: 8
    paths:
        - src/
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - "#return type has no value type specified in iterable type array#"
        - "#with no value type specified in iterable type array#"
