<p>Bonjour,</p>
<p>Un grand merci d’avoir pris le temps de répondre à l’éco-boussole. Vous connaissez désormais votre niveau d’engagement.</p>

<p>Vous retrouverez vos résultats en cliquant sur le lien ci-dessous :</p>
{% set url = url('app_resultat_single', { uuid: reponse.uuid }) %}
<a href="{{ url }}">{{ url }}</a>

<p>Pensez à conserver ce mail ou le lien afin de pouvoir revenir sur votre page de résultats, et accéder aux actions à mettre en place pour améliorer vos pratiques.</p>
<p>Envie de progresser et de vous engager davantage ? On peut vous accompagner. <br/>Rendez-vous sur notre page dédiée au Parcours Prestataires Durable en suivant ce lien :</p>

<a href="https://www.art-grandest.fr/services-et-accompagnement/tourisme-durable">Parcours Prestataires Durable</a>

<p>Nous vous souhaitons une excellente journée, ainsi qu'à toute votre équipe.</p>
<p>Cordialement.</p>
<p>L’équipe ART GE</p>
