{% extends 'base.html.twig' %}

{% block title %}TODO{% endblock %}

{% block javascripts %}
    {% if (page | default(false)) is same as 'resultat' %}
        <script>window.resultats = JSON.parse('{{ resultats|json_encode|raw }}')</script>
    {% endif %}
    {{ parent() }}
{% endblock %}
{% block body %}
   <div id="root"></div>
{% endblock %}
