{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold underline">
        Hello world styled by tailwindcss
    </h1>

    <div id="app"></div>
{% endblock %}
