{% extends 'base.html.twig' %}
{% form_theme form 'tailwind_2_layout.html.twig' %}
{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Success</h1>
    <a href="/">Go home</a>
{% endblock %}
